@(message: String)(implicit flash: play.api.mvc.Flash)

@Main("Welcome to Play") {
    <span style="color:red">@flash.get("messageError").getOrElse("")</span>
    <form class="form-horizontal" method="post" action="@routes.Application.save()">

        <div class="form-group">
            <div class="col-lg-2">
                <input class="form-control" type="text" name="txtMemberId" id="txtMemberId" placeholder="Member Id" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-4">
                <input class="form-control" type="text" name="txtMemberName" id="txtMemberName" placeholder="Member Name" />
            </div>
        </div>

        <div class="form-group">
            <table class="table table-responsive" id="tbMemberDetail">
                <thead>
                    <tr>
                        <th>Phone</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                    <tr>
                        <td><input type="tel" class="form-control" id="txtPhone" placeholder="Phone"/></td>
                        <td><input type="text" class="form-control" id="txtEmail" placeholder="Email"/></td>
                        <td><a class="btn btn-info" id="btnAddItem"><span class="glyphicon glyphicon-plus"></span></a> </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="form-group">
            <div class="col-lg-2">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </div>
        </div>
    </form>

    <script type="text/javascript">
        $(function(){


        });

        $('#btnAddItem').click(function(){
            var phone = $('#txtPhone').val();
            var email = $('#txtEmail').val();
            var tbLength = ($('#tbMemberDetail > tbody > tr').length -1)+1;

            var tag = '<tr>';
            tag += '<td><input type="hidden" name="phone['+ tbLength +']" value="'+ phone +'"/><span>'+ phone +'</span> </td>';
            tag += '<td><input type="hidden" name="email['+ tbLength +']" value="'+ email +'"/><span>'+ email +'</span> </td>';
            tag += '<td><a class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a> </td>'
            tag += '</tr>';

            $('#tbMemberDetail').append(tag);

             $('#txtPhone').val('');
            $('#txtEmail').val('');
        });
    </script>
}
